body {
  font-family: "Roboto", sans-serif;
}

#home .carousel-item a.btn-book-now {
  text-decoration: none;
  background-color: white;
  color: blue;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

#home .carousel-item a.btn-book-now:hover {
  background-color: blue;
  color: white;
}
